<!DOCTYPE HTML>
<html ng-app="mtdata">
<head>
<title>MDataDashboard</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="/webjars/bootstrap/3.3.7-1/css/bootstrap.css">
<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<div class="header">
		<nav class="navbar navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand">MdataDashboard</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="https://github.com/vipubhale/mdata">help</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<br>
	<div id="error" ng-if="errorData != ''">
		<p>
			<b>{{ errorData }}</b>
		</p>
	</div>
	<br>
	<div ng-controller="getData">
		<table>
			<thead>
				<tr>
					<th id="header"
						ng-repeat="n in getNumber(numberOfMachines) track by $index">
						<div ng-if="$index == 0 && numberOfMachines != 0">Properties/
							Machines</div>
						<div ng-if="$index > 0">Machine {{$index}}</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(header, value ) in modifiedMachinesdata">
					<td><b>{{header | uppercase }}</b></td>
					<td ng-repeat="cell in value track by $index">{{cell}}</td>
				</tr>
			</tbody>
		</table>
		<br>

	</div>
	<script src="/webjars/angularjs/1.6.4/angular.js"></script>
	<script src="/webjars/angularjs/1.6.4/angular-resource.js"></script>
	<script src="/webjars/angularjs/1.6.4/angular-route.js"></script>
	<script src="/js/app.js"></script>
</body>
<div id="footer">
	<div class="header">
		<nav class="navbar navbar-fixed-bottom">
			<div class="container-fluid">
			</div>
		</nav>
	</div>
</div>
</html>