<!DOCTYPE HTML>
<html ng-app="mtdata">
<head>
<title>Bharat Automotive</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="/webjars/bootstrap/3.3.7-1/css/bootstrap.css">
<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<div ng-controller="getData">
		<!-- 		<table>
			<tr>
				<th>Sr.No</th>
				<th>Id</th>
				<th>Name</th>
				<th>Part Count</th>

				<th>ActiveAxes</th>
				<th>S1 Speed</th>
				<th>S1 Load</th>
				<th>Speed Ovr</th>
				<th>Speed Servo</th>
			</tr>
			<tr ng-repeat="x in machinesData">
				<td>{{ $index +1 }}</td>
				<td>{{ x.machineId }}</td>
				<td>{{ x.machineName }}</td>
				<td>{{ x.partCount }}</td>
				<td>{{ x.activeAxes }}</td>
				<td>{{ x.s1Speed }}</td>
				<td>{{ x.s1Load }}</td>
				<td>{{ x.sSpeedOvr }}</td>
				<td>{{ x.s1Servo }}</td>

			</tr>
		</table> -->
		<table>
			<thead>
				<tr>
					<th id="header"
						ng-repeat="n in getNumber(numberOfMachines) track by $index">
						<div ng-if="$index == 0 && numberOfMachines != 0">Machines</div>
						<div ng-if="$index > 0">Machine {{$index}}</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(header, value ) in modifiedMachinesdata">
					<td><b>{{header | uppercase }}</b></td>
					<td ng-repeat="cell in value track by $index">{{cell}}</td>
				</tr>
			</tbody>
		</table>
		<br>
		<div id="error" ng-if="errorData != ''">
			<p>
				<b>{{ errorData }}</b>
			</p>
		</div>
	</div>
	<script src="/webjars/angularjs/1.6.4/angular.js"></script>
	<script src="/webjars/angularjs/1.6.4/angular-resource.js"></script>
	<script src="/webjars/angularjs/1.6.4/angular-route.js"></script>
	<script src="/js/app.js"></script>
</body>
</html>